[SddmGreeterTheme]
Name=Blur-Glassy-V.2
Description=Blur-Glassy-V.2 SDDM Theme
Author=KDE Visual Design Group (Modified by l4k1)
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=l4k1987@gmail.com
Theme-Id=Blur-Glassy-V.2
Theme-API=2.0
