$background: rgba(#1a1a19, 0.7);
$text: #d1d1d1;
/* Normal */
$black: #333332;
$red: #ff968c;
$green: #61957f;
$yellow: #ffc591;
$blue: #8db4d4;
$magenta: #de9bc8;
$cyan: #7bb099;
$white: #d1d1d1;
/* Bright */
$bright_black: #4c4c4b;
$bright_red: #ffafa5;
$bright_green: #7aae98;
$bright_yellow: #ffdeaa;
$bright_blue: #a6cded;
$bright_magenta: #f7b4e1;
$bright_cyan: #94c9b2;
$bright_white: #eaeaea;
/* Grays */
$gray01: #222221;
$gray02: #2a2a29;
$gray03: #323231;
$gray04: #3a3a39;
$gray05: #6a6a69;
$gray06: #767675;
$gray07: #b6b6b5;

* {
  all: unset;
  font-family: SourceCodePro Nerd Font;
}

.background {
  color: $text;
  border-radius: 5px;
  padding: 5px 10px;
}

.bar_class {
  background-color: $background;
  padding: 0px 10px;
  border-radius: 5px;
}

.battery, .cpu, .ram, .disk, .calendar {
  background-color: rgba($gray02, 0.5);
  padding: 1rem;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  border-color: $cyan;
}

.calendar_weekday, .calendar_month {
  font-size: 1.3rem;
}

.calendar_day, .calendar_year {
  padding-top: 0.15rem;
}

.module {
  margin-left: 10px;
  margin-right: 10px;
}

.metric scale trough {
  all: unset;
  background-color: $black;
  border-radius: 50px;
  min-height: 5px;
  min-width: 100px;
}

.metric scale.normal trough highlight {
  all: unset;
  background-color: $white;
  color: $black;
  border-radius: 10px;
}

.metric scale.warning trough highlight {
  all: unset;
  background-color: $yellow;
  color: $black;
  border-radius: 10px;
}

.metric scale.error trough highlight {
  all: unset;
  background-color: $red;
  color: $black;
  border-radius: 10px;
}

.icon.normal {
  color: $text;
}

.icon.warning {
  color: $yellow;
}

.icon.error {
  color: $red;
}
